In [1]:
import pandas as pd

#### Fertility rate: number of children a woman would give birth to during her childbearing years.

In [21]:
data = pd.read_csv('./fertility_rate.csv')

In [32]:
def drop_cols(data):
    data.drop(["Indicator Code", "Indicator Name", "Country Code"], axis=1, inplace=True)
    return data

In [50]:
def drop_null(df):
    '''
    for row in data:
        result = (data[data].dropna())
        del data[]'''
    return df.dropna(how='any', axis=0)
drop_null(data).head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,4.820000,4.65500,4.47100,4.271000,4.059000,3.842000,3.625000,3.417000,3.226000,...,1.763000,1.764000,1.769000,1.776000,1.783000,1.791000,1.796000,1.800000,1.80100,1.800000
1,Afghanistan,7.450000,7.45000,7.45000,7.450000,7.450000,7.450000,7.450000,7.450000,7.450000,...,6.460000,6.254000,6.038000,5.816000,5.595000,5.380000,5.174000,4.981000,4.80200,4.635000
2,Angola,7.478000,7.52400,7.56300,7.592000,7.611000,7.619000,7.618000,7.613000,7.608000,...,6.368000,6.307000,6.238000,6.162000,6.082000,6.000000,5.920000,5.841000,5.76600,5.694000
3,Albania,6.489000,6.40100,6.28200,6.133000,5.960000,5.773000,5.581000,5.394000,5.218000,...,1.668000,1.650000,1.646000,1.653000,1.668000,1.685000,1.700000,1.710000,1.71400,1.713000
5,Arab World,6.948747,6.97137,6.99235,7.009265,7.020105,7.023159,7.015824,6.998628,6.972205,...,3.476805,3.470126,3.469736,3.471666,3.470003,3.461347,3.442829,3.413299,3.37384,3.326532

#### API for air quality

In [51]:
import requests

In [108]:
res = requests.get('https://api.openaq.org/v1/countries')

In [109]:
res.status_code

200

In [110]:
type(res.text)

str

In [111]:
type(res.json())

dict

In [124]:
data2 = res.json()

In [168]:
print(data2["results"])

[{'name': 'Algeria', 'code': 'DZ', 'cities': 1, 'locations': 1, 'count': 313}, {'name': 'Andorra', 'code': 'AD', 'cities': 2, 'locations': 3, 'count': 75411}, {'name': 'Argentina', 'code': 'AR', 'cities': 1, 'locations': 4, 'count': 14976}, {'name': 'Australia', 'code': 'AU', 'cities': 21, 'locations': 106, 'count': 5696165}, {'name': 'Austria', 'code': 'AT', 'cities': 16, 'locations': 306, 'count': 1521351}, {'name': 'Bahrain', 'code': 'BH', 'cities': 1, 'locations': 1, 'count': 35020}, {'name': 'Bangladesh', 'code': 'BD', 'cities': 1, 'locations': 2, 'count': 27112}, {'name': 'Belgium', 'code': 'BE', 'cities': 14, 'locations': 198, 'count': 1609931}, {'name': 'Bosnia and Herzegovina', 'code': 'BA', 'cities': 10, 'locations': 22, 'count': 987809}, {'name': 'Brazil', 'code': 'BR', 'cities': 72, 'locations': 119, 'count': 2812094}, {'name': 'Canada', 'code': 'CA', 'cities': 12, 'locations': 202, 'count': 4461482}, {'name': 'Chile', 'code': 'CL', 'cities': 147, 'locations': 136, 'count': 6460641}, {'name': 'China', 'code': 'CN', 'cities': 388, 'locations': 1449, 'count': 44627652}, {'name': 'Colombia', 'code': 'CO', 'cities': 11, 'locations': 32, 'count': 310431}, {'name': 'Croatia', 'code': 'HR', 'cities': 17, 'locations': 50, 'count': 647072}, {'name': 'CuraÃ§ao', 'code': 'CW', 'cities': 1, 'locations': 1, 'count': 14482}, {'name': 'Czech Republic', 'code': 'CZ', 'cities': 15, 'locations': 200, 'count': 4264666}, {'name': 'Denmark', 'code': 'DK', 'cities': 7, 'locations': 25, 'count': 431711}, {'name': 'Ethiopia', 'code': 'ET', 'cities': 1, 'locations': 2, 'count': 42751}, {'name': 'Finland', 'code': 'FI', 'cities': 35, 'locations': 108, 'count': 1457097}, {'name': 'France', 'code': 'FR', 'cities': 135, 'locations': 1175, 'count': 17806724}, {'name': 'Germany', 'code': 'DE', 'cities': 36, 'locations': 1027, 'count': 11093590}, {'name': 'Ghana', 'code': 'GH', 'cities': 1, 'locations': 11, 'count': 1595}, {'name': 'Gibraltar', 'code': 'GI', 'cities': 2, 'locations': 6, 'count': 40842}, {'name': 'Hong Kong', 'code': 'HK', 'cities': 9, 'locations': 16, 'count': 994229}, {'name': 'Hungary', 'code': 'HU', 'cities': 14, 'locations': 50, 'count': 1493928}, {'name': 'India', 'code': 'IN', 'cities': 206, 'locations': 362, 'count': 12122505}, {'name': 'Indonesia', 'code': 'ID', 'cities': 2, 'locations': 3, 'count': 58935}, {'name': 'Iraq', 'code': 'IQ', 'cities': 1, 'locations': 1, 'count': 2619}, {'name': 'Ireland', 'code': 'IE', 'cities': 16, 'locations': 38, 'count': 248074}, {'name': 'Israel', 'code': 'IL', 'cities': 14, 'locations': 159, 'count': 195533826}, {'name': 'Italy', 'code': 'IT', 'cities': 45, 'locations': 104, 'count': 2650236}, {'name': 'Kazakhstan', 'code': 'KZ', 'cities': 1, 'locations': 1, 'count': 7682}, {'name': 'Kenya', 'code': 'KE', 'cities': 1, 'locations': 2, 'count': 2842}, {'name': 'Kosovo', 'code': 'XK', 'cities': 8, 'locations': 9, 'count': 154179}, {'name': 'Kuwait', 'code': 'KW', 'cities': 1, 'locations': 1, 'count': 17876}, {'name': 'Kyrgyzstan', 'code': 'KG', 'cities': 1, 'locations': 1, 'count': 2647}, {'name': "Lao People's Democratic Republic", 'code': 'LA', 'cities': 1, 'locations': 1, 'count': 280}, {'name': 'Latvia', 'code': 'LV', 'cities': 4, 'locations': 4, 'count': 122361}, {'name': 'Lithuania', 'code': 'LT', 'cities': 8, 'locations': 17, 'count': 348251}, {'name': 'Luxembourg', 'code': 'LU', 'cities': 3, 'locations': 7, 'count': 301295}, {'name': 'Macedonia, the Former Yugoslav Republic of', 'code': 'MK', 'cities': 16, 'locations': 30, 'count': 891701}, {'name': 'Malta', 'code': 'MT', 'cities': 4, 'locations': 4, 'count': 170358}, {'name': 'Mexico', 'code': 'MX', 'cities': 5, 'locations': 101, 'count': 2809585}, {'name': 'Mongolia', 'code': 'MN', 'cities': 25, 'locations': 42, 'count': 2787734}, {'name': 'Myanmar', 'code': 'MM', 'cities': 1, 'locations': 1, 'count': 376}, {'name': 'Nepal', 'code': 'NP', 'cities': 1, 'locations': 4, 'count': 67386}, {'name': 'Netherlands', 'code': 'NL', 'cities': 68, 'locations': 113, 'count': 7294716}, {'name': 'Nigeria', 'code': 'NG', 'cities': 1, 'locations': 1, 'count': 2541}, {'name': 'Norway', 'code': 'NO', 'cities': 37, 'locations': 83, 'count': 2624716}, {'name': 'Pakistan', 'code': 'PK', 'cities': 4, 'locations': 4, 'count': 2933}, {'name': 'Peru', 'code': 'PE', 'cities': 1, 'locations': 21, 'count': 691950}, {'name': 'Philippines', 'code': 'PH', 'cities': 1, 'locations': 1, 'count': 958}, {'name': 'Poland', 'code': 'PL', 'cities': 148, 'locations': 208, 'count': 3902549}, {'name': 'Portugal', 'code': 'PT', 'cities': 16, 'locations': 67, 'count': 2357600}, {'name': 'Russian Federation', 'code': 'RU', 'cities': 1, 'locations': 49, 'count': 187117}, {'name': 'Serbia', 'code': 'RS', 'cities': 4, 'locations': 6, 'count': 117257}, {'name': 'Singapore', 'code': 'SG', 'cities': 1, 'locations': 1, 'count': 1275}, {'name': 'Slovakia', 'code': 'SK', 'cities': 8, 'locations': 38, 'count': 1645934}, {'name': 'Slovenia', 'code': 'SI', 'cities': 8, 'locations': 8, 'count': 101343}, {'name': 'South Africa', 'code': 'ZA', 'cities': 1, 'locations': 11, 'count': 582506}, {'name': 'Spain', 'code': 'ES', 'cities': 115, 'locations': 1103, 'count': 14346465}, {'name': 'Sri Lanka', 'code': 'LK', 'cities': 1, 'locations': 1, 'count': 13302}, {'name': 'Sweden', 'code': 'SE', 'cities': 3, 'locations': 15, 'count': 333209}, {'name': 'Switzerland', 'code': 'CH', 'cities': 14, 'locations': 25, 'count': 936406}, {'name': 'Taiwan, Province of China', 'code': 'TW', 'cities': 30, 'locations': 77, 'count': 4636741}, {'name': 'Thailand', 'code': 'TH', 'cities': 34, 'locations': 69, 'count': 4553984}, {'name': 'Turkey', 'code': 'TR', 'cities': 43, 'locations': 152, 'count': 5640285}, {'name': 'Uganda', 'code': 'UG', 'cities': 1, 'locations': 1, 'count': 17870}, {'name': 'United Arab Emirates', 'code': 'AE', 'cities': 2, 'locations': 2, 'count': 35815}, {'name': 'United Kingdom', 'code': 'GB', 'cities': 112, 'locations': 162, 'count': 8809989}, {'name': 'United States', 'code': 'US', 'cities': 780, 'locations': 2103, 'count': 51146259}, {'name': 'Uzbekistan', 'code': 'UZ', 'cities': 1, 'locations': 1, 'count': 9999}, {'name': 'Viet Nam', 'code': 'VN', 'cities': 2, 'locations': 3, 'count': 55440}, {'code': 'CE', 'cities': 1, 'locations': 1, 'count': 74}]

In [188]:
df = pd.DataFrame(data2['results'])

In [194]:
print(df[['code', 'name']])

   code                       name
0    DZ                    Algeria
1    AD                    Andorra
2    AR                  Argentina
3    AU                  Australia
4    AT                    Austria
5    BH                    Bahrain
6    BD                 Bangladesh
7    BE                    Belgium
8    BA     Bosnia and Herzegovina
9    BR                     Brazil
10   CA                     Canada
11   CL                      Chile
12   CN                      China
13   CO                   Colombia
14   HR                    Croatia
15   CW                    CuraÃ§ao
16   CZ             Czech Republic
17   DK                    Denmark
18   ET                   Ethiopia
19   FI                    Finland
20   FR                     France
21   DE                    Germany
22   GH                      Ghana
23   GI                  Gibraltar
24   HK                  Hong Kong
25   HU                    Hungary
26   IN                      India
27   ID                  Indonesia
28   IQ                       Iraq
29   IE                    Ireland
..  ...                        ...
45   MM                    Myanmar
46   NP                      Nepal
47   NL                Netherlands
48   NG                    Nigeria
49   NO                     Norway
50   PK                   Pakistan
51   PE                       Peru
52   PH                Philippines
53   PL                     Poland
54   PT                   Portugal
55   RU         Russian Federation
56   RS                     Serbia
57   SG                  Singapore
58   SK                   Slovakia
59   SI                   Slovenia
60   ZA               South Africa
61   ES                      Spain
62   LK                  Sri Lanka
63   SE                     Sweden
64   CH                Switzerland
65   TW  Taiwan, Province of China
66   TH                   Thailand
67   TR                     Turkey
68   UG                     Uganda
69   AE       United Arab Emirates
70   GB             United Kingdom
71   US              United States
72   UZ                 Uzbekistan
73   VN                   Viet Nam
74   CE                        NaN

[75 rows x 2 columns]

In [197]:
res2 = requests.get('https://api.openaq.org/v1/measurements')

In [198]:
res2.status_code

200

In [125]:
#def getAir():
    #res3 = requests.get('https://api.openaq.org/v1/countries')
    #data3 = res3.json()
    #return {
        #"country": data3['country'],
    #}